<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About - Climate Solutions</title>
  <link href="/css/main.css" rel="stylesheet">
</head>
<body>
  <%- include('partials/navbar', { page: '/about' }) %>

  <div class="container mx-auto my-6">
    <div class="hero bg-base-200 p-6 rounded-lg mb-6">
      <div class="hero-content text-center">
        <div class="max-w-xl">
          <h1 class="text-5xl font-bold">About</h1>
          <p class="py-6">Learn more about me and this project.</p>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <img src="https://ci3.googleusercontent.com/mail-img-att/AGAZnRoQzgVkFYaNnLer42AkJfn-Y0My6pXkjoD9t9hFTiz5X_66JjzZuB5q6ErjRK5nV-aeXn_gkpRHRXblStJw-I7bbXQ9d1vVW2W83OG6scFFttNbHStiscTsaj7CkEXjaM4Hfc_kVvg6py3M5G3vITObtyfrLbLBbBivRcJ7I2kXrgF3YOMI5l598XXVDNINFn0DG-sB2jI6Hl1FfQl6Z9V1ueAyMHkp0epwgf2TwNQpmtutTaWysru0qPOzrCbZfO2tFHSH7rXajWFFk-abDFuwVIqQMmPWwJOEj91p1vPGcPPysjQerNcZsA4fHwmKVZEJEGYGJHiYqG_5kXGLSPHNj806GFPrbbAe_e__JRlKGf0o1JLePBJCZtYBYl7LdwdHOLv9wdsHpWfsPU63RBDTOHVfWodcWZSqEr6Mzwy-dGJ3ZJyV6XXnioxLZeD_cRbaY5gXFGeZ_zURru50dIwF5e_ukgITIfMbp8QblYX1ye2t-twNSN4eh5y5UFN_VgFfKMMmy2Vrf0tCr0w-mhOy2eplCusrvF1CvLxEoAtPjtWCAmhzwKsJnLhK5658tzxC6AcLWAl7jtOyuv6MeFZuJ-6sdo-Y81Bu86-Bk1hmE_-NW1s2-e8yjhIz3e1KxfBseDU13hmV4YYTwk7af35dBB9dnTll5jrgTUaTTHyloNDpnskt1D2t7zDB_62U9uuf2WidYc2F4Ug6dziySQI7LHCBV29la4NfjIxr4ZBRJxwxty_2ADJ3I-ri0Xtkygfx9t8UUFt0zJ4OruWioQgHvpLh7HIn4VxVrTzxGXTwHDJB-Z8a0dRDf22NRAnUyIQy53bfdTSuL1d57_HxP2gbvyvhIE_0t9kAXXSzamo6oQUouuUpAYhpHC3qjjkMLl1Mday6w7PPbHiUqeWWQ-8bx-F8e2kv15oKV1rLXfXpglfTjh3OGDqpsW3pqAGq6JFxhDE_jTV82jaRwrz8vEUyi5T1nKdCcQ53j6POvxy8k8-t0XXC7xE-EfQetr2w7Dqk5NZWMAnA_FW6ajn26CXlPXVE0bpvIIQsrbCT10BXa8fjESRIqG1kOIJQgWB96USFBfz1ozPE0GjthovyEOFx7qtDp3hi=s0-l75-ft" class="rounded-lg" alt="Profile Image">
      </div>
      <div>
        <p class="mb-4">Hi, I'm Harman Singh, a student at Seneca Polytechnic. I'm currently studying web development and working on dynamic full-stack apps using Node.js, Express, and MongoDB. My interests include climate tech, open source, and building impactful web projects!</p>
        <p class="mb-4">This app is part of WEB322 Assignment 4. It's built with Express.js, uses EJS templating, and integrates TailwindCSS and daisyUI.</p>
      </div>
    </div>
  </div>
</body>
</html>
