<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About - Climate Solutions</title>
  <link href="/css/main.css" rel="stylesheet">
</head>
<body>
  <%- include('partials/navbar', { page: '/about' }) %>

  <div class="container mx-auto my-6">
    <div class="hero bg-base-200 p-6 rounded-lg mb-6">
      <div class="hero-content text-center">
        <div class="max-w-xl">
          <h1 class="text-5xl font-bold">About</h1>
          <p class="py-6">Learn more about me and this project.</p>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <figure>
            <img src="/public/images/profile.jpg" class="rounded-lg" alt="Profile Image">
        </figure>      
        </div>
      <div>
        <p class="mb-4">Hi, I'm Harman Singh, a student at Seneca Polytechnic. I'm currently studying web development and working on dynamic full-stack apps using Node.js, Express, and MongoDB. My interests include climate tech, open source, and building impactful web projects!</p>
        <p class="mb-4">This app is part of WEB322 Assignment 4. It's built with Express.js, uses EJS templating, and integrates TailwindCSS and daisyUI.</p>
      </div>
    </div>
  </div>
</body>
</html>
